.piczenRightSide-main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    padding: 23px 25px;
    font-family: "Inter", sans-serif;
}

.piczen-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.piczen-title {
    font-size: 28px;
    font-weight: 700;
    color: #1a1a1a;
}

.piczen-search {
    width: 400px;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    /* font-weight: bold; */
    outline: none;
    background-color: #CBCBCB;
}

.piczen-search:focus {
    border-color: #9b4bff;
}

.getStarted-main-div {
    margin-top: 10px;
}

.getStarted-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* border: solid; */
    margin-right: 20px;
}

.getStarted-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
}

.seeAll-btn {
    background: none;
    border: none;
    color: #9b4bff;
    font-weight: 500;
    cursor: pointer;
    background-color: #d1c9f0;
    padding-left: 13px;
    padding-right: 13px;
    padding: 7px 14px;
    border-radius: 5px;
}

.imagesDrop-div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

}

.image-drop-box {
    flex: 0 1 180px;
    height: 230px;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 12px;
    transition: 0.3s ease;
    gap: 20px;
}

.image-drop-box:hover {
    background-color: #e1e1e1;
}

.imagedrop-div {
    border: solid 1px #9b4bff;
    background-color: #efe7f8;
}