/* .photoEditing-main{
    border: solid;
}

.photoEditing-imgDiv{
    border: solid blue;
}

.photoEditing-imgDiv img{
    border: solid red;
    width: 100%;
    height: 100px;
}

.photoEditing-scroll{
    border: solid green;
    display: flex;
    flex-direction: row;
    gap: 20px;
} */


.photoEditing-main {
    border: solid;
}

.photoEditing-imgDiv {
    border: solid blue;
    width: 160px;     
    height: 160px;      
    overflow: hidden;  
    border-radius: 10px;
}

.photoEditing-imgDiv img {
    border: solid red;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    border-radius: 10px;
}

.photoEditing-scroll {
    border: solid green;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
}
