.photoEditing-main {
    margin-top: 50px;
}

.photoEditing-imgDiv {
    width: 160px;
    height: 160px;
    overflow: hidden;    
    border-radius: 10px;
}

.photoEditing-imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.photEditImg {
    border: none;
    border-radius: 10px;
}

.photoEditing-scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: center;
}

.photoEditing-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.photoEditing-titleDiv{
    font-size: 13px;
    font-weight: 500;
}