.remove-card-img {
  width: 100%;
  height: 170px;
  background: #f8f8f8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-card-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.remove-card-text p {
  font-size: 14px;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
}
