.template-container {
  /* border: solid; */
  padding: 2px;
  width: 310px;
  height: 88.3vh;
  overflow-y: scroll;
}

.template-container h2 {
  margin-left: 20px;
}

.template-wrapper {
  /* width: 330px; */
  /* height: 88.5vh; */
  /* overflow-y: auto; */
  background: #fff;
  padding: 20px;
  border-left: 1px solid #e5e5e5;
  /* padding: 10px; */
}

.template-search {
  width: 100%;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  outline: none;
  margin-bottom: 20px;
}

.template-section h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.template-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.template-card {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.template-card:hover {
  border-color: #b09cff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

.template-card img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.template-card p {
  margin-top: 8px;
  font-size: 13px;
  color: #333;
}