.trending-main-div{
    /* border: solid; */
    margin-top: 40px;
}
.trending-h2{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.scroll-container {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    height: 8px;
    border: none;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
}

.scroll-image {
    height: 200px;
    width: auto;
    flex-shrink: 0;
    border-radius: 10px;
    object-fit: cover;
}