.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-container {
    background: #fff;
    width: 90%;
    max-width: 1100px;
    max-height: 85vh;
    border-radius: 14px;
    padding: 24px;
    overflow-y: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    font-size: 26px;
    font-weight: 600;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.sub-title {
    margin: 10px 0 20px;
    font-size: 16px;
    color: #666;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 16px;
}


.card {
    background: #f6f7fb;
    border-radius: 12px;
    padding: 14px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.card:hover {
    background: #eef0ff;
    transform: translateY(-2px);
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}