.modal2-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    /* border: solid red; */
}

.modal2-container {
    background: #fff;
    width: 90%;
    max-width: 1200px;
    max-height: 96vh;
    border-radius: 14px;
    padding: 24px;
    overflow-y: scroll;
    border: solid red;
}

.modal2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal2-header h2 {
    font-size: 26px;
    font-weight: 600;
}

.modal2-close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal2-sub-title {
    margin: 10px 0 20px;
    font-size: 16px;
    color: #666;
}

.modal2-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)); */
    gap: 20px;
    border: solid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
}

.modal2-card {
    background: #f6f7fb;
    border-radius: 12px;
    padding: 14px;
    cursor: pointer;
    transition: all 0.25s ease;
    border: solid;
}

.modal2-card:hover {
    background: #eef0ff;
    transform: translateY(-2px);
}

.modal2-card img {
    width: 100%;
    /* height: 140px; */
    object-fit: cover;
    border-radius: 10px;
}

.modal2-card p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}
