.resize-page {
    display: flex;
    height: 90vh;
    /* background: #fff; */
    border: solid;
}

.resize-left {
    flex: 1;
    padding-right: 20px;
    /* border: solid red; */
} 

.resize-right-panel {
    width: 320px;
    background: #fff;
    border-left: 1px solid #e4e4e4;
    padding: 20px;
    overflow-y: auto;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.05);
    border: solid;
    height: 80vh;
}

.resize-search input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.resize-section {
    margin-top: 20px;
}

.resize-section h4 {
    font-size: 14px;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
}

.resize-item {
    background: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.resize-item:hover {
    background: #f0f0ff;
    border-color: #c6c6ff;
}

.resize-item span {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.resize-item p {
    font-size: 12px;
    color: #777;
    margin-top: 3px;
}

.resize-btn {
    width: 100%;
    background: #d1c3ff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
}

.cancel-btn {
    width: 100%;
    background: #f3f3f3;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-top: 8px;
    font-size: 15px;
    cursor: pointer;
}




