.addText-container {
    width: 330px;
    height: 100vh;
    background: #ffffff;
    border-left: 1px solid #eee;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

.addText-btn {
    width: 100%;
    padding: 12px 0;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

.addText-search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
}

.addText-categories {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.addText-categories button {
    background: #f2f2f2;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
}

.addText-categories .active {
    background: black;
    color: white;
}

.textStyle-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

/* Base style box */
.style-box {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 18px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.style-box:hover {
    background: #f7f7f7; 
}

.bold { font-weight: 900; }
.cursive { font-family: 'Brush Script MT', cursive; }
.green { color: #1b8d57; }
.blue { color: #4287f5; }
.simple { font-weight: 500; }
.bold-red { font-weight: 900; color: #e65555; }



