.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}


.modal-box {
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: pop 0.2s ease-out;
}

@keyframes pop {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}


.modal-body {
    padding: 15px 0;
    font-size: 15px;
}


.modal-footer {
    text-align: right;
}

.btn {
    padding: 8px 14px;
    background: #4a4ae6;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}