.insert-panel {
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background: #fff;
  border-left: 1px solid #e6e6e6;
}

.ai-generate-btn {
  width: 100%;
  padding: 13px;
  background: #f3f0ff;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

.upload-box {
  margin-top: 20px;
  width: 100%;
  height: 130px;
  border-radius: 14px;
  border: 2px dashed #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  text-align: center;
  padding: 10px;
}

.select-text {
  color: #6d4fff;
  font-weight: 600;
  cursor: pointer;
}

.section-heading {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.recent-uploads {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.recent-img {
  width: 70px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.shape-sections {
  margin-top: 10px;
}

.shape-group {
  margin-bottom: 20px;
}

.shape-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.shape-list {
  display: flex;
  gap: 10px;
}

.shape-box {
  width: 40px;
  height: 40px;
  background: #f2f2f2;
  border-radius: 10px;
  border: 1px solid #ddd;
}
