.homePage5-main-div {
  width: 100%;
}

.hp5-header {
  text-align: center;
  margin-bottom: 40px;
}

.hp5-header h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hp5-header p {
  font-size: 18px;
  color: #555;
}

.hp5-card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}

@media(max-width: 900px) {
  .hp5-card-row {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media(max-width: 600px) {
  .hp5-card-row {
    grid-template-columns: 1fr;
  }
}
