.testimonial-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding: 40px 20px;
    background: #fff;
}

.tc-card {
    width: 380px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    background: #f7f8ff;
    position: relative;
}


.tc-tag {
    position: absolute;
    top: 12px;
    left: 12px;
    background: hsl(0deg 0% 100% / 81%);
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    z-index: 2;
    
}

.tc-img-wrapper {
    position: relative;
    overflow: hidden;
}

.tc-main-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

.tc-img-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #DEE0FF 90%);
    z-index: 1;
}

.tc-content {
    position: relative;
    background: #DEE0FF;
    padding: 22px;
    z-index: 2;
    /* border: solid brown; */
}


.tc-avatar {
    width: 101px;
    height: 114px;
    border-radius: 50%;
    position: relative;
    bottom: 42px;
}

.tc-text {
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    margin-bottom: 20px;
}

.tc-author h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    /* border: solid; */
}

.tc-author p {
    margin: 3px 0 18px;
    font-size: 13px;
    color: gray;
    /* border: solid; */
}

.tc-btn {
    background: black;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.tc-btn:hover {
    background: #333;
}