.sidebar {
  width: 280px;
  height: 100vh;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 25px;
  /* border: solid; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  width: 24px;
  height: 24px;
  border: 2px solid #8a4ddc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a4ddc;
  font-size: 12px;
}

.logo h2 {
  font-size: 20px;
  color: #3f2b4f;
  font-weight: 700;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #444;
  transition: background 0.2s ease;
}

.menu-item:hover {
  background-color: #f3ecff;
  color: #6f36cf;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.content-span {
  margin-left: 10px;
  color: #93949A;
}