 .hp2-wrapper {
     width: 100%;
     padding: 60px 80px;
     /* background: linear-gradient(135deg, #f5e6ff, #d9c2ff); */
     display: flex;
     flex-direction: column;
     gap: 60px;
     font-family: "Poppins", sans-serif;
 }


 /* .hp2-title-block {
     text-align: center;
 } */

 /* .hp2-title {
     font-size: 48px;
     font-weight: 700;
     color: black;
 } */

 /* .hp2-title-flex {
     font-size: 48px;
     font-weight: 700;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 12px;
 } */

 /* .hp2-icon {
     width: 48px;
     height: 48px;
 } */


 .hp2-content {
     display: flex;
     gap: 60px;
     align-items: center;
 }


 .hp2-image-block {
     flex: 1.1;
 }

 .hp2-main-img {
     width: 100%;
     border-radius: 20px;
     box-shadow: 0 10px 35px rgba(60, 20, 120, 0.25);
     /* height: 70%; */
 }


 .hp2-text-block {
     flex: 0.9;
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .hp2-heading {
     font-size: 35px;
     font-weight: 700;
     line-height: 110%;
     letter-spacing: -.1155px;
 }

 .hp2-desc {
     font-size: 17px;
     color: #707177;
     /* line-height: 1.6; */
     font-weight: 500;
     line-height: 150%;
 }

 .hp2-btn {
     margin-top: 10px;
     width: fit-content;
     height: 2.5rem;
     padding: 0 20px;
     border-radius: 6px;
     border: none;
     background-color: #000;
     color: white;
     cursor: pointer;
 }

 .hp2-you {
     color: #8b5cf6;
     font-size: 60px;
     font-family: cursive;
 }

 .hp2-content {
    display: flex;
    gap: 40px;
    align-items: center;
 }

 .hp2-content.reverse {
    flex-direction: row-reverse;
 }



 @media screen and (max-width: 900px) {
     .hp2-content {
         flex-direction: column;
         text-align: center;
     }

     .hp2-text-block {
         align-items: center;
     }

     .hp2-title,
     .hp2-title-flex {
         font-size: 36px;
     }
 }